/* DICE ROLLER*/


#container {
    font-family: Arial, sans-serif;
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding:10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 75, 75);
    color:white;
    cursor:pointer;
    font-weight: bold;
}
button:hover{
    background-color: rgb(8, 143, 143);
}
input{
    font-size: 2rem;
    width:150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin:25px;
}

#diceImages img {
    width: 100x;
    height: 100px;
    margin: 5px;
    border: none;
    border-radius: 200x;

}